@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

dialog {
  border-radius: 12px;
  border: none;
  text-align: left;
  padding: 20px;
  animation: entrance 300ms ease-in-out;
  animation-fill-mode: forwards;
  box-shadow: 0px 30px 70px 0px rgba(0, 0, 0, 0.4);
}
:root {
  --color-backdrop: red;
}

dialog::backdrop {
  background: var(--color-backdrop);
}

/* dialog::backdrop {
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.5);
  animation: entranceBackdrop 300ms ease-in-out;
} */

/* 
dialog.close {
  animation: leaving 300ms ease-in-out;
  animation-fill-mode: forwards;
}

dialog.close::backdrop {
  animation: leavingBackdrop 300ms ease-in-out;
  animation-fill-mode: forwards;
} */

/* blur up */
.lazyload {
  filter: blur(10px);
  transform: scale(1.1);
}
.lazyloading {
  filter: blur(10px);
  transform: scale(1.1);
}

img .lazyloaded {
  filter: blur(0);
}

html.sr .load-hidden {
  visibility: hidden;
}
